{% macro displayBlogList(blog_list) %}

    {% for b in blog_list %}
    <a href="{{url_for('main.new_blog',id=b.id)}}"><p>{{b.title|upper}}</p></a>
    {% for writers in b.blogs %}
        <div class="container">   
            <div class="row">
                <div class="good">
                    <div class="col-md-12">
                        <p>Blog Title : {{b.title}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <h3>Blog Post : {{b.post}}</h3>
                        <!-- {% for com in blogs.comments %}
                    <p><strong>{{com.username}} feedback:</strong>{{com.feedback}}</p>
                {% endfor %} -->
                    </div>
                    
                </div>
            </div>
        
    {% endfor %}

{% endmacro %}